.contato {
    display: grid;
    grid-template-columns: 1fr 2fr;   
    background-color: #f9f9f9;
    height: calc(100vh - 60px);

    &__box {
        //height: 500px;
        border-radius: 5px;
        position: relative;
        background-color: #eee6df;
    }

    &__group {
        border-right: 1px solid #ddd;
        overflow-y: auto;
        //height: 500px;
    }

    &__title {
        padding-left: 10px;
        font-size: 1.5rem;
        margin-top: 15px;
    }

    &__search {
        color: #000;
        margin: 10px 0;
        padding-left: 10px;
        display: inline-block;
        color: #3c69bd;

        &:hover {
            text-decoration: underline;
        }
    }

    &__link {
        display: block;
        padding: 20px 10px;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        background-color: #fff;
        color: #000;

        &--active, &:hover {
            background-color: #f9f9f9;
        }
    }

    &__user {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 20px;
        right: 0;
        height: 50px;
        line-height: 50px;
        font-size: 1.5rem;
        border-bottom: 1px solid #ddd;
    }

    &__form {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        
    }

    &__input {
        @include centralizaX;
        width: 90%;
        height: 50px;
        border-radius: 25px;
        padding: 0 10px;
        border: 1px solid #ddd;
        font-size: 1.1rem;
    }

    &__talk {
        margin: 0 20px;
        overflow: auto;
        height: calc((100vh - 110px) - 60px);
        display: flex;
        flex-direction: column-reverse;
    }

    &__person {
       margin-bottom: 10px; 
       
        &--left {
            margin-right: 50px;
        }
        
        &--right {
            margin-left: 50px;
            margin-right: 10px;
        }
    }

    &__msg {        
        padding: 10px 15px;
        width: auto;
        display: inline-block;
        border-radius: 5px;
        z-index: 2;
               
        &--left {
            background-color: #fff;
            float: left;
        }
        
        &--right {
            background-color: #DCF8C6;
            float: right;
        }
    }

    &__clear {
        clear: both;
    }
}